@model DextraLanches.Models.LancheViewModel
@{
    ViewBag.Title = "CardapioCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cardápio do Cliente</h2>
<br />

<input type="button" value="Montar meu lanche" id="montar-lanche" class="btn-danger" />
<br /><br />
@{var countFoto = 0; var img = "";}
@foreach (var item in Model.ListaLanches)
{
    if(countFoto <3)
    {
        countFoto++;
    }
    else
    {
        countFoto = 1;
    }
    img = "../Images/lanche" + countFoto+".jpg";
    <legend>@item.Nome</legend>
    <div class="col-lg-12">
        <div class="col-lg-3">

            <figure class="figure">
                <img src="@img" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption">@item.Nome  @item.Preco</figcaption>
            </figure>


        </div>
        <div class="col-lg-3">
            <span>
                @item.Descricao
                <br />
                @if (item.ContemPromocao)
                {
                    <img src="~/Images/desconto.png" />
                    <span>@item.PromocaoUtilizada.Descricao</span>
                }

            </span>
            <input type="button" class="btn-success" value="Comprar" onclick="location.href='@Url.Action("Comprar", "Cardapio", new { id = item.ID })'" />


        </div>
    </div>
    <legend></legend>
}



<div id="dialog-montar-lanche" title="Montar Lanche">

    <legend>Meu Lanche</legend>

    <div class="col-lg-3">
        <div class="form-group">

            <label>Ingrediente </label><br />

            @Html.DropDownListFor(m => m.NovoLanche.IngredienteSelecionado, Model.IngredientesDisponiveis.Select(c => new SelectListItem { Text = c.Descricao, Value = c.ID.ToString() }))
            <img src="~/Images/adicionar.png" id="add-ingrediente" />
           
        </div>
        <table id="tblIngredientes" class="table">
            <thead>
                <tr>
                    <th>Ingrediente</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
        @*<div class="col-lg-12"><label>Limpar a lista:</label>
<img src="~/Images/editar.png" id="limparLista" /></div>*@
        <div class="col-lg-2">

            <label>Total:</label>
            <input type="text" id="total" readonly />
            <input type="hidden" id="Pedido" />
        </div>

        <br />
        <br />
        <br />
    </div>

    <div class="col-lg-12">
        <br /><br /><br />
        <input type="button" class="btn-success" value="Finalizar Pedido" id="finalizar-pedido" />

    </div>

</div>



@section scripts{
 


@*<script src="~/Scripts/alertify.min.js"></script>*@


    <script type="text/javascript">

        $(document).ready(function () {

            dialog = $("#dialog-montar-lanche").dialog({
                autoOpen: false,
                resizable: true,
                height: 600,
                width: 550,
                modal: true,
                buttons: {
                    Cancelar: function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {

                }
            });
        });

        $("#montar-lanche").button().on("click", function () {

            dialog.dialog("open");
        });

        $("#add-ingrediente").on("click", function () {
            base_url = window.location.host;
            url = "/Cardapio/buscarIngrediente";
            full_url = base_url + url;
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: url,
                data: { "ID": $("#NovoLanche_IngredienteSelecionado").val() },
                success: function (data) {

                    var tbl = $("#tblIngredientes");
                    var totalPrice = parseFloat($("#total").val()) || 0;

                    tbl.append("<tr><td>" + data["Nome"] + "</td> <td>" + parseFloat(data["Preco"] ).toFixed(2)+ "</td>  </tr>");
                    totalPrice += parseFloat(data["Preco"]);

                    $("#total").val(totalPrice.toFixed(2));
                                               
                    $("#Pedido").val($("#Pedido").val() + "|" + data["ID"]);


                    alertify.success("Ingrediente adicionado.");

                },
                error: function () {
                    $(".GifAjaxLoaderEntrega").hide();
                    alert("Problema ao buscar produto.");
                }
            });


        });

        $("#limparLista").on("click", function () {
            var tbl = $("#tblIngredientes");

            tbl.remove();
            $("#total").val(0);

        });

        $("#finalizar-pedido").on("click", function () {

            if( $("#total").val() > 0 ){
                base_url = window.location.host;
                url = "/Cardapio/finalizarPedido";
                full_url = base_url + url;
                $.ajaxSetup({ cache: false });
                $.ajax({
                    url: url,
                    data: { "Pedido": $("#Pedido").val() },
                    success: function (data) {

                        var tbl = $("#tblIngredientes");
                        document.location.href = "../Pedido/Index";
                    },
                    error: function () {
                        $(".GifAjaxLoaderEntrega").hide();
                        alert("Problema ao buscar produto.");
                    }
                });
            }else{
                alertify.error("Por favor, adicione ingredientes.");
            }
          


        });

    </script>
}