@model DextraLanches.Models.IngredienteViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Ingredientes</legend>

@{

    WebGrid Grid = new WebGrid(source: Model.Ingredientes, rowsPerPage: 8);
}

@using (@Html.BeginForm())
{

    <form>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.Label("Nome do Ingrediente")
                @Html.TextBoxFor(m => m.IngredienteNovo.Nome, new { @placeholder = "Nome", @class = "form-control" })


            </div>
            <div class="form-group">

                <label>Descrição do ingrediente </label><br />
                @Html.TextBoxFor(m => m.IngredienteNovo.Descricao, new { @placeholder = "Descrição...", @maxlength = "300", @class = "form-control" })
            </div>

            <div class="form-group">

                <label>Preço </label><br />
                @Html.TextBoxFor(m => m.IngredienteNovo.Preco, new {@placeholder = "Preço...", @class = "form-control" })

            </div>
            <div class="form-group">

                <button type="submit" class="btn">Adicionar</button>
            </div>
        </div>



    </form>

}

<div class="col-lg-12">
    @if (Grid.Rows.Count > 0)
    {
        @Grid.GetHtml(
             tableStyle: "table table-striped",

            numericLinksCount: 7,
            columns: Grid.Columns(
            Grid.Column("ID", header: "ID", format: @<text>@item.ID</text>),
                    Grid.Column("Nome", header: "Nome", format: @<text>@item.Nome</text>),
                    Grid.Column("Descricao", header: "Descriçao", format: @<text>@item.Descricao</text>),
             Grid.Column("Preco", header: "Preço", format: @<text>@item.Preco</text>)
                                                                                               )
                                                                                               )

    }
    else
    {
        <p>Ops. Não há registros.</p>
    }

</div>
@section scripts{
    <script src="~/Scripts/jquery.maskedinput.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-maskmoney-3.0.2.js" type="text/javascript"></script>

    <script>


        $("#IngredienteNovo_Preco").maskMoney(
        {
            symbol: 'US$', // Simbolo
            decimal: ',', // Separador do decimal
            precision: 2, // Precisão
            thousands: '.', // Separador para os milhares
            allowZero: false, // Permite que o digito 0 seja o primeiro caractere
            showSymbol: true // Exibe/Oculta o símbolo

        }
    );
    </script>
}